@charset "utf-8";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

:root {
    --background-color: linear-gradient(135deg, #141e30, #243b55);
    --cards-color: #efeff0;
    --button-color: #048ad8;
    --on-primary-color: #fff;
    --cards-color-two: rgb(255 255 255 / 5%)
}

body {
    min-height: auto;
    background: var(--background-color);
    height: 100dvh;
}

main {
    display: grid;
    place-content: center;
    margin-top: 200px;
}

section {
    margin-top: 80px;
}

.flex {
    display: flex;
}

.gap-8 {
    gap: 8px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.center {
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 24px;
    color: #fff;
}

p {
    font-size: 1.3rem;
}

input[type=text] {
    padding: 8px;
    width: 300px;
    border-radius: 3px;
    border: 2px solid transparent;

    &:focus {
        border: 2px solid #00cfff;
        box-shadow: 0 0 5px 1px #00cfff;
        transition: all;
    }
}

.input-focused {
    border: 2px solid #00cfff;
    box-shadow: 0 0 5px 1px #00cfff;
    transition: all;
}

input[type=checkbox] {
    width: 1.6rem;
    height: 1.6rem;
    accent-color: rgb(0 168 107);
    cursor: pointer;
}

button {
    padding: 9px 24px;
    border-radius: 3px;
    margin-left: 8px;
    font-weight: 600;
    width: 114px;
    background-color: var(--button-color);
    color: var(--on-primary-color);

    &:hover {
        background-color: #025687;
        transition: background-color 0.25s ease-in-out;
    }
}

.checked, .edit, .delete {
    font-size: 1.6rem;
    cursor: pointer;
    color: #e1f5f9;
} 

.checked {
    &:hover {
        color: #00a426;
    }
}

.edit {
    &:hover {
        color: #e5bb00;
    }
}

.delete {
    &:hover {
        color: #ad0000;
    }
}

.posted-todos-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 20px;
}

.todo-container {
    padding: 8px;
    border: 1px solid var(--cards-color-two);
    background: var(--cards-color-two);
    border-radius: 4px;

    h3 {
        color: var(--button-color);
    }

    p {
        color: #a6a6a6;
    }
}

.completed {
    text-decoration: line-through;
    color: rgb(0 168 107);
}
